<app-navbar></app-navbar>
<section class="fdb-block" style="background-image: url(assets/Images/university/hero_bg.png);">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                <h1 class="p-primary-dark fw-bold">Althash University</h1>
                <p class="mb-5 col-md-8">An initiative of CODEX and Althash to nurture the potential talents in the
                    emerging technologies and software development.</p>

                <div class="col-md-8 border p-round p-2">
                    <div class="p-4 bg-white p-round p-shadow">
                        <p class="h4">Our <span class="p-primary-dark fw-bold">Mission</span></p>
                        <p>Althash strives to make this initiative a global, technological ‘blockchain -movement’ that
                            attracts students of advanced coding expertise and backgrounds. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 m-auto me-md-1 col-lg-6">
                <img alt="image" class="img-fluid" src="assets/Images/university/hero_img.png">
            </div>
        </div>
    </div>
</section>

<section class="fdb-block" style="background-image: url(assets/Images/university/register_bg.png);">
    <div class="container">
        <h3 class="fw-bold p-primary-dark my-4">Some catchy heading related to University</h3>
        <p class="col-8">By interacting with many developers that know how to create smart contracts. We are able to
            apply their
            skills to HTMLCoin and create high utility applications that will be applicable in everyday life. Tipping
            bots, payment systems, token reward programs are all examples of some of the creations that students can
            make from HTMLCoins smart contracting software. <br> <br>

            This initiative will target blockchain clubs across the globe, particularly those at Universities in the
            United States. The program will allow students to take part in an internship- like program with Althash
            where they will create smart contracts using Solidity, and other coding languages like nodejs. Gifted
            HTMLCoin and CDEX token will be given to these clubs to assist in the creation of high- utility
            applications. This initiative will expand the horizons for each students developmental career as well as
            promote further their understanding of emerging software in the blockchain space.</p>

        <button class="btn btn-dark btn-lg fw-bold my-5">Register Now</button>

        <h4 class="my-5">How this works</h4>

        <div class="row ">
            <div class="col-4 align-content-center">
                <div class="col-12 col-sm-9 col-md-9 bg-white p-shadow p-round p-4">
                    <div class="row">
                        <div class="col-8">
                            <img src="assets/Images/university/icon1.png" width="55%" alt="" srcset="">
                        </div>
                        <div class="col-4">
                            <h5 class="fw-bold ">Step #1</h5>
                        </div>
                    </div>
                    <h5 class="my-3"><strong>Register your club/organization for <span class="p-primary-dark">Althash
                                University Program</span> </strong></h5>
                </div>
            </div>
            <div class="col-4 align-content-center">
                <div class="col-12 col-sm-9 col-md-9 bg-white p-shadow p-round p-4">
                    <div class="row">
                        <div class="col-8">
                            <img src="assets/Images/university/icon2.png" width="55%" alt="" srcset="">
                        </div>
                        <div class="col-4">
                            <h5 class="fw-bold ">Step #2</h5>
                        </div>
                    </div>
                    <h5 class="my-3">Althash will provide the members of your club for internship</h5>
                </div>
            </div>
            <div class="col-4 align-content-center">
                <div class="col-12 col-sm-9 col-md-9 bg-white p-shadow p-round p-4">
                    <div class="row">
                        <div class="col-8">
                            <img src="assets/Images/university/icon3.png" width="55%" alt="" srcset="">
                        </div>
                        <div class="col-4">
                            <h5 class="fw-bold ">Step #3</h5>
                        </div>
                    </div>
                    <h5 class="my-3">Interns can contribute and learn while building on Althash</h5>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4 align-content-center">
                <div class="col-12 col-sm-9 col-md-9 bg-white p-shadow p-round p-4">
                    <div class="row">
                        <div class="col-8">
                            <img src="assets/Images/university/icon4.png" width="55%" alt="" srcset="">
                        </div>
                        <div class="col-4">
                            <h5 class="fw-bold ">Step #4</h5>
                        </div>
                    </div>
                    <h5 class="my-3">After completion interns will get the certificate $ Althash University and ranking</h5>
                </div>
            </div>
            <div class="col-4 align-content-center">
                <div class="col-12 col-sm-9 col-md-9 bg-white p-shadow p-round p-4">
                    <div class="row">
                        <div class="col-8">
                            <img src="assets/Images/university/icon5.png" width="55%" alt="" srcset="">
                        </div>
                        <div class="col-4">
                            <h5 class="fw-bold ">Step #5</h5>
                        </div>
                    </div>
                    <h5 class="my-3">Top performers will get the oppurtunity to work as an employee at Altash Community</h5>
                </div>
            </div>
            
        </div>
        <div class="my-4 col-9 p-primary-dark">
            Upon completion of the program, students will receive a course Certificate and an Althash intiative
            ‘ranking’. <br> <br>
            Highly qualified students will also be recognized by the program administrators and will be offered
            employment with Althash to create related applications down the road.
        </div>
    </div>
</section>
<app-footer></app-footer>