.fdb-block .fdb-touch {
    border-top: solid 0.3125rem #329ef7;
    z-index: 2;
}

.fdb-box {
    background: #FFFFFF;
    padding: 1.5rem 2.5rem;
    overflow: hidden;
    color: #444444;
    border-radius: 1.0rem;
    box-shadow: 0 0.3125rem 0.875rem 0 rgb(129 129 129 / 20%) !important;
}
// footer.footer-large {
//     padding: 6.25rem 0 !important;
// }

.footer-large{
    margin-top: -15%;
}

.bf-footer{
    padding-bottom: 6%;
}
.fdb-block{
    background-color: transparent !important;
}