<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white pb-round shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="#"><h4 class="fw-bold fst-italic"><span class="p-primary-dark">codex</span>token.io</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="althash-university">Codex Ecosystem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="althash-university">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="about">About Althash</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="news">News</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>