<app-navbar></app-navbar>

<section class="fdb-block" style="background-image: url(assets/Images/wallet/hero_bg.png);">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                <h1 class="p-primary-dark fw-bold">Codex Wallet Bot</h1>
                <p class="mb-5 col-md-8">A tip bot on Telegram that is connected to the HTMLCoin blockchain, which
                    allows users to have the capability of checking their balance, public address, and private key</p>

                <div class="col-md-8 border p-round p-2">
                    <div class="p-4 bg-white p-round p-shadow">
                        <p>Become <strong>VIP Member</strong> of <br><span class="p-primary-dark fw-bold">CodexWallet
                                Bot</span></p>
                        <p>Get full functionality, weekly and monthly airdrops, lifetime membership and many more.</p>
                        <div class="col-12 text-end">
                            <button class="btn btn-dark p-shadow py-2 px-3">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 m-auto me-md-1 col-lg-6">
                <img alt="image" class="img-fluid" src="assets/Images/wallet/hero_img.png">
            </div>
        </div>
    </div>
</section>
<section class="fdb-block" style="background-image: url(assets/Images/wallet/product_bg.png);">
    <div class="container">
        <h4 class="p-primary-dark fw-bold mb-3">Codex Wallet Bot was our first product.</h4>
        <p class="mb-5 col-md-8"> The inspiration behind 'CodexWalletBot' came from replicating healthy ecosystems of
            other existing blockchains in the crypto space. Tip bots like, Seedit, Robominer, and Parjar have
            demonstrated the success of bringing users to the blockchain space via Social Media. By presenting users
            with a simple interface to send and receive HRC20 tokens on, it makes sending and receiving transactions
            more user friendly. </p>

        <h5 class="text-muted fw-bold mb-3">What you can do with our bot</h5>

        <div class="row justify-content-center">
            <div class="col-3 m-0 my-2 mx-4">
                <div class="p-4 p-round bg-white p-shadow">
                    <img src="assets\Images\wallet\icon_1.png" alt="" class="img-fluid p-shadow" srcset="">
                    <h6 class="fw-bold mt-3">Tipping 'HTMLCoin' and HRC20 tokens</h6>
                </div>
            </div>
            <div class="col-3 m-0 my-2 mx-5">
                <div class="p-4 p-round bg-white p-shadow">
                    <img src="assets\Images\wallet\icon_2.png" alt="" class="img-fluid p-shadow" srcset="">
                    <h6 class="fw-bold mt-3">Sending tokens Wallet to Wallet</h6>
                </div>
            </div>
            <div class="col-3 m-0 my-2 mx-4">
                <div class="p-4 p-round bg-white p-shadow">
                    <img src="assets\Images\wallet\icon_3.png" alt="" class="img-fluid p-shadow" srcset="">
                    <h6 class="fw-bold mt-3">Neglagible Transaction Fees</h6>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-3 m-0 my-2 mx-4">
                <div class="p-4 p-round bg-white p-shadow">
                    <img src="assets\Images\wallet\icon_4.png" alt="" class="img-fluid p-shadow" srcset="">
                    <h6 class="fw-bold mt-3">Check Balance, Public Address, and Private Key </h6>
                </div>
            </div>
            <div class="col-3 m-0 my-2 mx-4">
                <div class="p-4 p-round bg-white p-shadow">
                    <img src="assets\Images\wallet\icon_5.png" alt="" class="img-fluid p-shadow" srcset="">
                    <h6 class="fw-bold mt-3">Changing Wallets </h6>
                </div>
            </div>
        </div>
        <div class="row text-center mt-5 p-4">
            <div class="col">
                <button class="btn btn-dark btn-lg p-shadow">Start using the bot</button>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block" style="background-image: url(assets/Images/wallet/vip_bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2 class="p-primary-light fw-bold mb-4">Become a VIP </h2>
                <p class="text-white col-md-7">Become a VIP and get the full functionality of our bot including lifetime
                    membership, daily airdrops, monthly airdrops, airdrop log, discounted listings, and many more future
                    developments to come.</p>
            </div>
            <div class="col-md-3 justify-content-center align-self-center">
                <button class="btn btn-lg fw-bold p-bprimary text-white">Become a VIP</button>
            </div>
        </div>
        <hr class="text-white-50 mx-5">
        <div class="row align-items-center mt-5">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                <div class="p-round p-shadow p-bprimary p-4 px-5 me-4">
                   <div class="row">
                       <div class="col-7">
                        <h4 class="fw-bold text-white">Become a VIP, if you hold</h4>
                       </div>
                       <div class="col-5 text-end">
                            <h1 class="text-white fw-bold">100K</h1>
                            <h5 class="fw-light text-white">HTMLCoin</h5>
                       </div>
                   </div> 
                </div>
                <div class="p-round p-shadow p-bprimary p-4 px-5 my-5 me-4">
                   <div class="row">
                       <div class="col-7">
                        <h4 class="fw-bold text-white">You can also get<span class="p-secondary"> 50% </span>if you hold 100K CDEX tokens</h4>
                       </div>
                       <div class="col-5 text-end">
                            <h1 class="text-white fw-bold">50K</h1>
                            <h5 class="fw-light text-white">HTMLCoin</h5>
                       </div>
                   </div> 
                </div>
                <button class="btn btn-lg p-bprimary fw-bold text-white">Become a VIP</button>
                <p class="text-white-50 my-4">
                    <span class="text-white">Disclaimer: </span> The monthly airdrops and daily airdrops are not intended as payment for being a VIP, but rather as a free distribution and gift to VIPs to use the software as well as future Codex builds. Neither daily airdrops nor monthly airdrops are guaranteed
                </p>
            </div>
            <div class="col-12 col-md-8 m-auto col-lg-6">
                <img alt="image" class="img-fluid" src="assets/Images/wallet/vip_img.png">
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</section>
<app-footer></app-footer>