<footer class="fdb-block footer-large" style="background-image: url(assets/Footer.png);">
    <div class="container mt-5 pt-5">
        <div class="row text-center ">
            <div class="col">
                <h1 class="p-primary fw-bold fst-italic">codex<span class="text-dark">token.io</span></h1>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-8">
                <p>Bringing the new generation developers closer to build a community of innovation in the field of blockchain and software development</p>
            </div>
        </div>

        <hr>
        <br>

      <div class="row align-items-top text-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-start">
            <h5><strong>Group 2</strong></h5>
          <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">Home</a>
            <a class="nav-link ps-0" href="#">White Paper</a>
            <a class="nav-link ps-0" href="#">Road Map</a>
            <a class="nav-link ps-0" href="#">News</a>
            <a class="nav-link ps-0" href="#">Careers</a>
          </nav>
        </div>
  
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
          <h5><strong>Group 2</strong></h5>
          <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">HRC20 RAIN Room</a>
            <a class="nav-link ps-0" href="#">Telegram</a>
            <a class="nav-link ps-0" href="#">Mamby</a>
            <a class="nav-link ps-0" href="#">Discord</a>
            <a class="nav-link ps-0" href="#">Floyx</a>
            <a class="nav-link ps-0" href="#">Sapien Network</a>
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5><strong>Group 2</strong></h5>
        <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">FAQ</a>
            <a class="nav-link ps-0" href="#">Investment Policy</a>
            <a class="nav-link ps-0" href="#">Terms of Use</a>
            <a class="nav-link ps-0" href="#">Disclamer</a>
            <a class="nav-link ps-0" routerLink="/privacy-policy">Privacy Policy</a>
            <a class="nav-link ps-0" href="#">Legal Opinion</a>
            <a class="nav-link ps-0" href="#">Wallets</a>
            <a class="nav-link ps-0" href="#">Security Best Practices</a>
            
            
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5><strong>Group 2</strong></h5>
        <nav class="nav flex-column">
            <p class="text-decoration-underline text-muted">Find us on</p>
            <a class="nav-link ps-0" href="#">Linkedin</a>
            <a class="nav-link ps-0" href="#">Twitter</a>
            <a class="nav-link ps-0" href="#">Medium</a>
            <a class="nav-link ps-0" href="#">Steemit</a>
            
            <p class="text-decoration-underline text-muted">Contact us</p>
            <a class="nav-link ps-0" href="#">Dev@codexonalthash.com</a>
            <a class="nav-link ps-0" href="#">bbalog@htmlcoin.team</a>
            
          </nav>
        </div>
      </div>
  
      <div class="row mt-5">
        <div class="col text-center">
          © 2018 Froala. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
